




  .table-view .column-header {
      -fx-background-color: transparent;
      -fx-font-size:8px;}

.table-view .column-header-background{
    -fx-background-color: #418776;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

  .table-view .table-column{
      -fx-alignment:center;
  }

  .table-view .table-cell{
      -fx-font-weight:bold;
      -fx-font-size:8px;
      word-wrap: break-word;

  }

